server:
  port: 8081

spring:
  datasource:
    url: jdbc:postgresql://100.69.32.37:5432/sastachasma?sslmode=disable&connectTimeout=5&socketTimeout=30
    username: postgres
    password: postgres
    driver-class-name: org.postgresql.Driver
    hikari:
      connection-timeout: 30000
      maximum-pool-size: 5
      connection-test-query: SELECT 1
  jpa:
    hibernate:
      ddl-auto: update
    show-sql: true
    properties:
      hibernate:
        format_sql: true
        jdbc:
          lob:
            non_contextual_creation: true



# Eureka Client Configuration
#eureka:
#  client:
#    serviceUrl:
#      defaultZone: ${EUREKA_URI:http://localhost:8761/eureka}
#  instance:
#    prefer-ip-address: true

# Logging Configuration
management:
  endpoints:
    web:
      exposure:
        include: health,info,metrics,gateway
      actuator:
        base-path: /actuator


logging:
  pattern:
    console: "%green(%d{HH:mm:ss.SSS}) %blue(%-5level) %red([%thread]) %yellow(%logger{15}) - %msg%n"