server:
  port: 8081

spring:
  application:
    name: product-service
  datasource:
    url: jdbc:mysql://100.69.32.37:3306/sastachasma_product
    username: vikas
    password: Vikas@123
    driver-class-name: com.mysql.cj.jdbc.Driver
    hikari:
      connection-timeout: 30000
      maximum-pool-size: 5
      connection-test-query: SELECT 1
  jpa:
    hibernate:
      ddl-auto: none
    show-sql: true
    properties:
      hibernate:
        format_sql: true
        dialect: org.hibernate.dialect.MySQLDialect
    open-in-view: false

# Eureka Client Configuration
eureka:
  client:
    serviceUrl:
      defaultZone: ${EUREKA_URI:http://localhost:8761/eureka}
  instance:
    prefer-ip-address: true
    hostname: localhost # Explicitly set hostname to localhost for Eureka registration

# Logging Configuration
management:
  endpoints:
    web:
      exposure:
        include: health,info,metrics,gateway
      actuator:
        base-path: /actuator

springdoc:
  swagger-ui:
    path: /swagger-ui.html
  api-docs:
    path: /v3/api-docs

logging:
  pattern:
    console: "%green(%d{HH:mm:ss.SSS}) %blue(%-5level) %red([%thread]) %yellow(%logger{15}) - %msg%n"
